name: Jobs
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Get Code
       uses: actions/checkout@v5
     
     - name: Test Code
       run: bash -c  "npm run test > test-output.log || true"
      

     - name: Upload Artifacts
       uses: actions/upload-artifact@v4
       with: 
          name: log-files
          path: test-output.log