name: Reusable

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
    secrets:
      MY_SECRET:
        required: true
    outputs:
      result:
        value: ${{ jobs.demo.outputs.result }}

jobs:
  demo:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.step1.outputs.value }}
    steps:
      - name: Print input
        run: echo "${{ inputs.message }}"

      - name: Set output
        id: step1
        run: echo "value=done" >> $GITHUB_OUTPUT
